# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Jetbrains
.idea

# Documentation
documentary.pdf
doc/latex/documentary.aux
doc/latex/documentary.fdb_latexmk
doc/latex/documentary.fls
doc/latex/documentary.log
doc/latex/documentary.out
doc/latex/documentary.synctex.gz
doc/latex/documentary.toc
doc/latex/modules/*.aux
documentary.aux
documentary.fdb_latexmk
documentary.fls
documentary.log
documentary.out
documentary.toc